html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}
ul li a{
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

label{
    text-align: right;
    display: inline-block;
    padding-right: 5px;
}
input{
    border-color: rgb(172, 216, 252);
    border-radius: 10px;
}
button{
    margin: 5px;
    font-size:medium;
    background-color: aliceblue;
    border-color: rgb(172, 216, 252);
    border-radius: 10px;
    padding: 2px 20px;
    color: rgb(72, 118, 187);
}
ul li a:hover{
    background-color: #555;
}
ul li{
    margin: 10px;
}
ul{
    width: 100%;
}
table{
    border: solid 1px;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    min-width: 400px;
    cursor: default;
}
table td, table th {
    border: 1px solid black;
    padding: 5px;
  }
table tr:nth-child(even){
    background-color: lightgray;
}
table tr:hover{
    background-color: gray;
}
table th{
    background-color: #333;
    color: #fff;
}

.h1index{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    color: rgb(0, 68, 3);
}
.h2index{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 68, 3);
}
.h3index {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #555;
}
.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    padding: 10px 20px 0px;
    background-color: #333;
    color: #fff;
}
.ulmenu{
    list-style: none;
}
.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.imgheader{
    margin-right: 20px;
    display: flex;
    width: 25%;
    height: 150px;
    justify-content: end;
}
.txtheader{
    margin: 0%;
    padding: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: aliceblue;
    display: flex;
    width: 75%;
    justify-content: center;
    vertical-align: middle;
}
.content {
    background-color: white;
    min-height: 350px;
    padding: 20px;
}
.footer {
    background-color: lightgrey;
    min-height: 80px;
    display: flex;
}
.reserved{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
